<script type="text/javascript" src="~/Views/Snake/Play.js"></script>

<div id="main" class="text-center">

    <div id="gridInput" class="text-center">
        <label>Grid Height</label>
        <input type="text" value="25" id="gridHeight">
        <label>Grid Width</label>
        <input type="text" value="25" id="gridWidth">
        <br />
        <input type="submit" value="Play" id="submitButton" class="text-center">
    </div>

</div>


<div id="table">
    
</div>

